@font-face {
  font-family: 'Minecraft';
  src: url('/minecraftFont/Minecraft.woff2') format('woff2'),
    url('/minecraftFont/Minecraft.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'Minecraft';
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  padding: 0;
  margin: 0;
  font-family: 'Minecraft';
}

#game {
  width: 800px;
  height: 500px;
  position: relative;
}

canvas {
  margin: 0 !important;
}

.dialogue-indicator {
  background-color: #e0e4ed;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: black;
  border-radius: 5px;
  padding: 2px 15px;
  box-shadow: 1px 2.5px 0px rgba(0, 0, 0);
  width: fit-content;
  height: 40px;
}

.dialogue-indicator__key {
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 28px;
  display: flex;
  justify-content: center;
  padding-top: 2px;
  align-items: center;
  text-align: center;
}

.shown {
  display: flex !important;
}

.show-grid {
  display: grid !important;
}

.dialogue-field__enter {
  content: 'Enter' url('./assets/enter-outline.svg');
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  /* make it pixelated */
  image-rendering: pixelated;
  bottom: 10px;
  right: 10px;
  border-top-color: #efefef;
  border-bottom: 0;
  border-right: 0;
}

.enter {
  padding-top: 5px;
}

.dialogue-field__options {
  position: absolute;
  right: 50px;
  bottom: 75px;
  width: fit-content;
  height: fit-content;
  display: none;
  flex-direction: column;
  background-color: #efefef;
  border: 3px solid black;
  border-radius: 10px;
  z-index: 100;
  overflow: hidden;
}

.dialogue-field__option {
  padding: 1rem;
  color: black;
  z-index: 110;
  background-color: #efefef;
  /* border: none !important; */
}

.dialogue-field__option:focus {
  background-color: black;
  color: white;
}

button {
  /* unset all styles */
  border: none;
  /* custom styles */
  font-size: 1.5rem;
  font-family: 'Minecraft';
  color: black;
}

.attack-options {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 200px;
  width: 500px;
  color: black;
  z-index: 110;
  background-color: #efefef;
  grid-template-columns: 1fr 1fr;
  border: 3px solid black;
  border-radius: 10px;
  overflow: hidden;
}

.active {
  background-color: black;
  color: white;
}

.attack-options__option:focus {
  background-color: black;
  color: white;
}
